external/dict/.vscode/
.vscode/
int_py_pt2/02-strings/__pycache__/
int_py_pt2/04-OOP/__pycache__/
int_py_pt2/05-testable_code/__pycache__/
int_py_pt2/06-busca-ordenacao/__pycache__/
int_py_pt1/Exercício_08/__pycache__/
int_py_pt1/Exercício_09/__pycache__/
int_py_pt2/07-recursao/__pycache__/
int_py_pt2/02-strings/__pycache__/separa.cpython-38.pyc
int_py_pt2/04-OOP/__pycache__/triangulo.cpython-38.pyc
int_py_pt2/05-testable_code/__pycache__/Bhaskara.cpython-38.pyc
int_py_pt2/06-busca-ordenacao/__pycache__/ordenar.cpython-38.pyc
py-face-detection/
external/pymongo/data/db/
external/pymongo/.vscode
external/pymongo/__pycache__/
external/pymongo/data/
*.jpg
*.png
